<form action="http://localhost:3000/fastspring/fastspring_complete" type="POST">
	<input type="textbox" name="CustomerEmail" value="kevin@wearefound.com"></input><br />
	<input type="textbox" name="OrderReferrer" value="2"></input><br />
	<input type="textbox" name="OrderID" value="SCI130208-9320-17125"></input><br />
	<input type="submit"></input><br />
</form>